#title {
    font-style: italic;
    font-weight: bold;
    color: #444444;
    text-align: center;
    font-family:Segoe UI;
}

#title-sub{
    color: #2e70b8;
}

.center{
    text-align: center;
}
img{
    margin: 6px;;
}
.footer p{
    line-height: 110%;
}